<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Email</th>
    <th scope="col">Password</th>
    <th scope="col">Display_name</th>
    <th scope="col">Phone</th>
    <th scope="col">Address</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">{{this.user.id}}</th>
    <td>{{this.user.email}}</td>
    <td>{{this.user.password}}</td>
    <td>{{this.user.displayname}}</td>
    <td>{{this.user.phone}}</td>
    <td>{{this.user.address}}</td>
  </tr>
  </tbody>
</table>
